<<<<<<< HEAD
* {
	color: #fff;
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
    background: #181818;
	font-family: 'Roboto', sans-serif;
}

/* Pages nav */
.pages-nav {
	text-align: center;
}
.pages-nav__item {
	float: left;
}
.logo1 {
	height: 30px;
	width: 30px;
}

.link {
	font-size: 0.85em;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.link:hover,
.link:focus {
	color: #fff;
}

.link--page {
	display: block;
	float: center;
	padding: 10px;
	color: #cecece;
}

.link--page:not(.link--faded)::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: 30px 0 0 -15px;
	background: rgb(255, 255, 255);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
    font-style: none;
}

.link--page:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}



p.big{
  font-size: 1.1em;
  line-height: 1.5em;
}
.fa-star, .fa-thumbs-up, .fa-check{
  font-size: 2.7em;
  display: block;
  color: black;
  color: white;
  margin-bottom: 30px;
}

.fa-github {
	font-size: 1em;
	display: block;
	color: black;
	color: white;
	margin-bottom: 30px;
}
.info-box{
  background-color: #1C1D22;
  margin: 0px auto;
  padding: 110px 0 110px 0;
  color: white;
  text-align: center;
}
.info-box h2{
  margin-bottom: 30px;
}
#flex-p{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#flex-p p{
  padding: 30px;
  max-width: 300px;
}

header {
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.64);
}
nav {
	float: left;
}

.contenido {
	padding: 30px;
}
p {
	margin-bottom: 20px;
}
a {
	text-decoration: none;
=======
* {
	color: #fff;
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
    background: #181818;
	font-family: 'Roboto', sans-serif;
}

/* Pages nav */
.pages-nav {
	text-align: center;
}
.pages-nav__item {
	float: left;
}
.logo1 {
	height: 30px;
	width: 30px;
}

.link {
	font-size: 0.85em;
	position: relative;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.link:hover,
.link:focus {
	color: #fff;
}

.link--page {
	display: block;
	float: center;
	padding: 10px;
	color: #cecece;
}

.link--page:not(.link--faded)::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	height: 2px;
	margin: 30px 0 0 -15px;
	background: rgb(255, 255, 255);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
    font-style: none;
}

.link--page:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}



p.big{
  font-size: 1.1em;
  line-height: 1.5em;
}
.fa-star, .fa-thumbs-up, .fa-check{
  font-size: 2.7em;
  display: block;
  color: black;
  color: white;
  margin-bottom: 30px;
}

.fa-github {
	font-size: 1em;
	display: block;
	color: black;
	color: white;
	margin-bottom: 30px;
}
.info-box{
  background-color: #1C1D22;
  margin: 0px auto;
  padding: 110px 0 110px 0;
  color: white;
  text-align: center;
}
.info-box h2{
  margin-bottom: 30px;
}
#flex-p{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#flex-p p{
  padding: 30px;
  max-width: 300px;
}

header {
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.64);
}
nav {
	float: left;
}

.contenido {
	padding: 30px;
}
p {
	margin-bottom: 20px;
}
a {
	text-decoration: none;
>>>>>>> 6cbfd992f3c4d693f6ab92ce3b88efc1e821130e
}